
<div class = "row">
	<div class = "col-md-4">
		<h3>Account Details</h3>
		<ul>
			<li><%= link_to 'Edit Account',  edit_user_registration_path %></li>
				<li><%= link_to 'Cancel My Account',cancel_user_registration_path, data: { confirm: "Are you sure?" }, method: :delete %></li>
		</ul>
	</div>
	<div class = "col-md-8">
		<h3>Account Type: Buyer, Seller</h3>
<div class="panel panel-default">
  <div class="panel-heading">Seller Account</div>
  <div class="panel-body">
  	<%= link_to 'Create Listings',new_business_listing_path %> 
  	<%= link_to 'Payment History', root_path %>
  </div>
</div>
<div class = "panel panel-default">
	<div class = "panel-heading">Buyer Account</div>
	<div class = "panel-body">
		<%= link_to 'Messages From Seller', root_path %>
	</div>
</div>
</div>
</div>
 	
