<%= simple_form_for @business_listing do |f| %>
<h3>Create your listings</h3>
<p>Unless stated as required ( * ), all the fields are optional. We understand that anonymity and privacy may sometimes be key considerations when selling a business - therefore business names and location details do not have to be shown.
To achieve the best results please ensure you fill out as much information as possible.
Please note: Do not use ALL CAPITAL LETTERS.</p>
	<div class="row">
	    <div class = "col-md-4">
	    	<%= f.input :photo%>
			<%= f.input :title%>
			<%= f.input :location %>
			<%= f.input :revenue%>
			<%= f.input :cash_flow %>
			<%= f.input :business_description %>
			<%= f.input :property_size %>
			<%= f.input :years_estd %>
		</div>
		<div class = "col-md-4">
			
			<%= f.input :property_type %>
			<%= f.input :business_location %>
			<%= f.input :premise_details%>
			<%= f.input :competition %>
			<%= f.input :expansion_potential %>
		</div>
		<div class = "col-md-4">
			
			<%= f.input :employees %>
			<%= f.input :trading_hours %>
			<%= f.input :support_training %>
			<%= f.input :financing_available %>
			<%= f.input :reason_for_selling %>
			<%= f.input :featured %>
			<%= f.submit 'Post', class:'btn btn-success', data: { disable_with: "Posting..." } %>
		</div>
			
	</div>
<% end %>
