<%= @business_listings.title %><br>
<%= @business_listings.location %><br>
<%= @business_listings.revenue %><br>
<%= @business_listings.cash_flow %><br>

<h3>Business Description</h3>
<%= @business_listings.business_description %><br>


<h3>Property Details</h3>
<%= @business_listings.property_size %><br>
<%= @business_listings.years_estd %><br>
<%= @business_listings.property_type%><br>

<h3>Other Details</h3>
<%= @business_listings.business_location%><br>
<%= @business_listings.premise_details%><br>
<%= @business_listings.competition%><br>
<%= @business_listings.expansion_potential%><br>
<%= @business_listings.employees%><br>

<h3>Operation Details</h3>
<%= @business_listings.trading_hours%><br>
<%= @business_listings.support_training%><br>
<%= @business_listings.financing_available%><br>

<h3>Miscellaneous</h3>
<%= @business_listings.reason_for_selling%><br>




